* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(176, 240, 233);
}



.calculator{
  min-height: 100vh;
  position: relative;
}


.content {
  display: grid;
  margin-top: 2em;
  justify-content: center;
  align-content: center;
  position:absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  grid-template-columns: repeat(4,80px);
  grid-template-rows:minmax(80px, auto)repeat(5,80px);
  


  background: rgba(0, 0,0,0.02);
  box-shadow: 20px 20px 60px #bebebe
  -20px -20px 60px #ffffff;
}

.span{
  grid-column: span 2;
}


.output{
  grid-column: 1/5;
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  word-wrap:break-word;
  word-break: break-all;
  border-top-right-radius: 30px  ;
  border-top-left-radius: 30px  ;
  
  
}

.equals{
  border-bottom-right-radius: 30px  ;
  background: orange;
  color: #ffffff;
}

.operation,.delete,.clear{
  color: orange;
}


.dot{
  border-bottom-left-radius: 30px  ;
}

.previous{
  font-size: 1.4rem;
}


.current{
  font-size: 2rem;
}

.content button{
  background: rgba(0, 0,0,);
  border: 1px solid white;
  outline: none;
  transition: all.4s ease;
  font-weight: bold;
  font-size: larger;
}

.content button:hover{
  background: rgba(0, 0,0, 0.06);
  border: 0;
  outline: none;
}


